<a href="https://colab.research.google.com/github/Skander28/Models/blob/main/Data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import torch

if torch.cuda.is_available():
  device = torch.device("cuda")
  print('There are %d GPU(s) available.' % torch.cuda.device_count())
  print('We will use the GPU:', torch.cuda.get_device_name(0))
  !nvidia-smi
else:
  print('No GPU available, using the CPU instead.')
  device = torch.device("cpu")

There are 1 GPU(s) available.
We will use the GPU: Tesla T4
Wed Mar 22 14:53:25 2023
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 525.85.12    Driver Version: 525.85.12    CUDA Version: 12.0     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   66C    P0    27W /  70W |      3MiB / 15360MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!ls /content/drive/MyDrive/

 Classroom  'Colab Notebooks'   dialect_dataset.csv   messages.csv

In [ ]:
import pandas as pd
tweets_ids = pd.read_csv('/content/drive/MyDrive/dialect_dataset.csv')

In [ ]:
# Read the given dataset which contain the Ids and the labels
df_clean = pd.read_csv('/content/drive/MyDrive/messages.csv',
                 lineterminator='\n')

column_names = ['id', 'tweets']  # list of column names

df_clean.columns = column_names
df_clean.head()

             id                                             tweets
0  1.175358e+18   @Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠÙ†ØªÙØ¶ .. ÙŠØºÙŠØ± .
1  1.175416e+18  @7zNqXP0yrODdRjK ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± .. Ø­...
2  1.175450e+18                    @KanaanRema Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ
3  1.175471e+18         @HAIDER76128900 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡ğŸ’
4  1.175497e+18                 @hmo2406 ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡  Ø§Ø® Ù…Ø­Ù…Ø¯ ğŸŒ¸ğŸŒº

In [ ]:
tweets_dataset = pd.merge(tweets_ids, df_clean, on='id', how='inner')
tweets_dataset.head()

,id,dialect,tweets
0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠÙ†ØªÙØ¶ .. ÙŠØºÙŠØ± .
1,1175416117793349632,IQ,@7zNqXP0yrODdRjK ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± .. Ø­...
2,1175450108898565888,IQ,@KanaanRema Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ
3,1175471073770573824,IQ,@HAIDER76128900 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡ğŸ’
4,1175496913145217024,IQ,@hmo2406 ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡ Ø§Ø® Ù…Ø­Ù…Ø¯ ğŸŒ¸ğŸŒº

# **Text Pre-processing**

In [ ]:
!pip install PyArabic

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting PyArabic
  Downloading PyArabic-0.6.15-py3-none-any.whl (126 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 126.4/126.4 KB 6.1 MB/s eta 0:00:00
Requirement already satisfied: six>=1.14.0 in /usr/local/lib/python3.9/dist-packages (from PyArabic) (1.16.0)
Installing collected packages: PyArabic
Successfully installed PyArabic-0.6.15

In [ ]:
import pandas as pd
import numpy as np
import re
import string
import sys
import pyarabic.araby as araby
import nltk 
from nltk.corpus import stopwords
from nltk import word_tokenize, sent_tokenize
from textblob import Word
from sklearn import preprocessing

In [ ]:
filtered_df = tweets_dataset[tweets_dataset['dialect'].isin(['TN','DZ','MA','LY'])]
filtered_df.head()

,id,dialect,tweets
15497,1009754958479151232,LY,@toha_Altomy @gy_yah Ù‚Ù„ÙŠÙ„ÙŠÙ† Ø§Ø¯Ø¨ ÙˆÙ…Ù†Ø§ÙÙ‚ÙŠÙ†. Ù„Ùˆ Ø§...
15498,1009794751548313600,LY,@AlmFaisal ğŸ˜‚ğŸ˜‚ Ø§Ù„Ù„ÙŠØ¨ÙŠÙŠÙ† Ù…ØªÙ‚Ù„Ø¨ÙŠÙ†!!!\nØ¨Ø³ Ø¨Ø§Ù„Ù†Ø³Ø¨Ø© ...
15499,1019989115490787200,LY,@smsm071990 @ALMOGRBE ÙƒÙ„ 20 ØªØ§Ù†ÙŠÙ‡ Ø´Ø§Ø¨ Ù„ÙŠØ¨ÙŠ Ø¨ÙŠØ±...
15500,1035479791758135168,LY,@AboryPro @lyranoo85 Ø±Ø§Ù†ÙŠØ§ Ø¹Ù‚Ù„ÙŠØªÙƒ Ù…ØªØ®Ù„ÙØ©. Ø§ÙˆÙ„Ø§...
15501,1035481122921164800,LY,@lyranoo85 Ø´ÙƒÙ„Ùƒ Ù…ØªØ¹Ù‚Ø¯Ø© Ø¹Ù„Ø´Ø§Ù† Ø§Ù„Ø±Ø§Ø¬Ù„ Ù„ÙŠ ØªØ­Ø¨ÙŠÙ‡ Ø§...

## **Text Cleaning**

### *Removing Punctuations and Symbols*

In [ ]:
arabic_punctuations = '''`Ã·Ã—Ø›<>_()*&^%][Ù€ØŒ/:"ØŸ.,'{}~Â¦+|!â€â€¦â€œâ€“Ù€'''
english_punctuations = string.punctuation
punctuations_list = arabic_punctuations + english_punctuations

In [ ]:
def remove_punctuations(text):
    translator = str.maketrans('', '', punctuations_list)
    return text.translate(translator)

In [ ]:
filtered_df['tweets'] = filtered_df['tweets'].apply(remove_punctuations)
filtered_df.head()

<ipython-input-18-d89cc7b25867>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['tweets'] = filtered_df['tweets'].apply(remove_punctuations)

,id,dialect,tweets
15497,1009754958479151232,LY,tohaAltomy gyyah Ù‚Ù„ÙŠÙ„ÙŠÙ† Ø§Ø¯Ø¨ ÙˆÙ…Ù†Ø§ÙÙ‚ÙŠÙ† Ù„Ùˆ Ø§Ø®ØªÙ‡Ù… ...
15498,1009794751548313600,LY,AlmFaisal ğŸ˜‚ğŸ˜‚ Ø§Ù„Ù„ÙŠØ¨ÙŠÙŠÙ† Ù…ØªÙ‚Ù„Ø¨ÙŠÙ†\nØ¨Ø³ Ø¨Ø§Ù„Ù†Ø³Ø¨Ø© Ù„ÙŠØ§ ...
15499,1019989115490787200,LY,smsm071990 ALMOGRBE ÙƒÙ„ 20 ØªØ§Ù†ÙŠÙ‡ Ø´Ø§Ø¨ Ù„ÙŠØ¨ÙŠ Ø¨ÙŠØ±ØªØ§...
15500,1035479791758135168,LY,AboryPro lyranoo85 Ø±Ø§Ù†ÙŠØ§ Ø¹Ù‚Ù„ÙŠØªÙƒ Ù…ØªØ®Ù„ÙØ© Ø§ÙˆÙ„Ø§ Ø§Ù„...
15501,1035481122921164800,LY,lyranoo85 Ø´ÙƒÙ„Ùƒ Ù…ØªØ¹Ù‚Ø¯Ø© Ø¹Ù„Ø´Ø§Ù† Ø§Ù„Ø±Ø§Ø¬Ù„ Ù„ÙŠ ØªØ­Ø¨ÙŠÙ‡ Ø§Ø²...

### *Remove Emojis*

In [ ]:
def remove_emoji(string):
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               u"\U00002500-\U00002BEF"  # chinese char
                               u"\U00002702-\U000027B0"
                               u"\U00002702-\U000027B0"
                               u"\U000024C2-\U0001F251"
                               u"\U0001f926-\U0001f937"
                               u"\U00010000-\U0010ffff"
                               u"\u2640-\u2642"
                               u"\u2600-\u2B55"
                               u"\u200d"
                               u"\u23cf"
                               u"\u23e9"
                               u"\u231a"
                               u"\ufe0f"  # dingbats
                               u"\u3030"
                               "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', string)

In [ ]:
filtered_df['tweets'] = filtered_df['tweets'].apply(remove_emoji)
filtered_df.head()

<ipython-input-20-916b9ffa5a77>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['tweets'] = filtered_df['tweets'].apply(remove_emoji)

,id,dialect,tweets
15497,1009754958479151232,LY,tohaAltomy gyyah Ù‚Ù„ÙŠÙ„ÙŠÙ† Ø§Ø¯Ø¨ ÙˆÙ…Ù†Ø§ÙÙ‚ÙŠÙ† Ù„Ùˆ Ø§Ø®ØªÙ‡Ù… ...
15498,1009794751548313600,LY,AlmFaisal Ø§Ù„Ù„ÙŠØ¨ÙŠÙŠÙ† Ù…ØªÙ‚Ù„Ø¨ÙŠÙ†\nØ¨Ø³ Ø¨Ø§Ù„Ù†Ø³Ø¨Ø© Ù„ÙŠØ§ Ø§Ù†...
15499,1019989115490787200,LY,smsm071990 ALMOGRBE ÙƒÙ„ 20 ØªØ§Ù†ÙŠÙ‡ Ø´Ø§Ø¨ Ù„ÙŠØ¨ÙŠ Ø¨ÙŠØ±ØªØ§...
15500,1035479791758135168,LY,AboryPro lyranoo85 Ø±Ø§Ù†ÙŠØ§ Ø¹Ù‚Ù„ÙŠØªÙƒ Ù…ØªØ®Ù„ÙØ© Ø§ÙˆÙ„Ø§ Ø§Ù„...
15501,1035481122921164800,LY,lyranoo85 Ø´ÙƒÙ„Ùƒ Ù…ØªØ¹Ù‚Ø¯Ø© Ø¹Ù„Ø´Ø§Ù† Ø§Ù„Ø±Ø§Ø¬Ù„ Ù„ÙŠ ØªØ­Ø¨ÙŠÙ‡ Ø§Ø²...

### *Stop Words Elimination*

In [ ]:
nltk.download('stopwords')
stop=stopwords.words('arabic')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
filtered_df['tweets'] = filtered_df['tweets'].apply(lambda x:" ".join(x for x in x.split() if x not in stop))
filtered_df.head()

<ipython-input-22-0f59dbd6df7b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['tweets'] = filtered_df['tweets'].apply(lambda x:" ".join(x for x in x.split() if x not in stop))

,id,dialect,tweets
15497,1009754958479151232,LY,tohaAltomy gyyah Ù‚Ù„ÙŠÙ„ÙŠÙ† Ø§Ø¯Ø¨ ÙˆÙ…Ù†Ø§ÙÙ‚ÙŠÙ† Ø§Ø®ØªÙ‡Ù… Ø§Ùˆ ...
15498,1009794751548313600,LY,AlmFaisal Ø§Ù„Ù„ÙŠØ¨ÙŠÙŠÙ† Ù…ØªÙ‚Ù„Ø¨ÙŠÙ† Ø¨Ø§Ù„Ù†Ø³Ø¨Ø© Ù„ÙŠØ§ Ø§Ù†Ø§ Ù…ÙŠÙ„...
15499,1019989115490787200,LY,smsm071990 ALMOGRBE 20 ØªØ§Ù†ÙŠÙ‡ Ø´Ø§Ø¨ Ù„ÙŠØ¨ÙŠ Ø¨ÙŠØ±ØªØ§Ø­ Ù„...
15500,1035479791758135168,LY,AboryPro lyranoo85 Ø±Ø§Ù†ÙŠØ§ Ø¹Ù‚Ù„ÙŠØªÙƒ Ù…ØªØ®Ù„ÙØ© Ø§ÙˆÙ„Ø§ Ø§Ù„...
15501,1035481122921164800,LY,lyranoo85 Ø´ÙƒÙ„Ùƒ Ù…ØªØ¹Ù‚Ø¯Ø© Ø¹Ù„Ø´Ø§Ù† Ø§Ù„Ø±Ø§Ø¬Ù„ ØªØ­Ø¨ÙŠÙ‡ Ø§Ø²ÙˆØ¬ ...

### *Remove Diacritics*

In [ ]:
def remove_diacritics(text):
    arabic_diacritics = re.compile("""
                             Ù‘    | # Tashdid
                             Ù    | # Fatha
                             Ù‹    | # Tanwin Fath
                             Ù    | # Damma
                             ÙŒ    | # Tanwin Damm
                             Ù    | # Kasra
                             Ù    | # Tanwin Kasr
                             Ù’    | # Sukun
                             Ù€     # Tatwil/Kashida
                         """, re.VERBOSE)
    text = re.sub(arabic_diacritics, '', text)
    text = araby.strip_diacritics(text)
    text = araby.strip_shadda(text)
    text = araby.strip_tashkeel(text)
    return text

In [ ]:
filtered_df['tweets'] = filtered_df['tweets'].apply(remove_diacritics)
filtered_df.head()

<ipython-input-24-d6dbb61d3a62>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['tweets'] = filtered_df['tweets'].apply(remove_diacritics)

,id,dialect,tweets
15497,1009754958479151232,LY,tohaAltomy gyyah Ù‚Ù„ÙŠÙ„ÙŠÙ† Ø§Ø¯Ø¨ ÙˆÙ…Ù†Ø§ÙÙ‚ÙŠÙ† Ø§Ø®ØªÙ‡Ù… Ø§Ùˆ ...
15498,1009794751548313600,LY,AlmFaisal Ø§Ù„Ù„ÙŠØ¨ÙŠÙŠÙ† Ù…ØªÙ‚Ù„Ø¨ÙŠÙ† Ø¨Ø§Ù„Ù†Ø³Ø¨Ø© Ù„ÙŠØ§ Ø§Ù†Ø§ Ù…ÙŠÙ„...
15499,1019989115490787200,LY,smsm071990 ALMOGRBE 20 ØªØ§Ù†ÙŠÙ‡ Ø´Ø§Ø¨ Ù„ÙŠØ¨ÙŠ Ø¨ÙŠØ±ØªØ§Ø­ Ù„...
15500,1035479791758135168,LY,AboryPro lyranoo85 Ø±Ø§Ù†ÙŠØ§ Ø¹Ù‚Ù„ÙŠØªÙƒ Ù…ØªØ®Ù„ÙØ© Ø§ÙˆÙ„Ø§ Ø§Ù„...
15501,1035481122921164800,LY,lyranoo85 Ø´ÙƒÙ„Ùƒ Ù…ØªØ¹Ù‚Ø¯Ø© Ø¹Ù„Ø´Ø§Ù† Ø§Ù„Ø±Ø§Ø¬Ù„ ØªØ­Ø¨ÙŠÙ‡ Ø§Ø²ÙˆØ¬ ...

### *Remove Non-Arabic Characters*

In [ ]:
def remove_non_arabic(text):
    text = re.sub('[%s]' % re.escape("""!"#$%&'()*+,ØŒ-./:;<=>ØŸ?@[\]^_`{|}~"""), ' ', text)
    text = re.sub('([@A-Za-z0-9_Ù€Ù€Ù€Ù€Ù€Ù€Ù€Ù€Ù€Ù€Ù€Ù€Ù€]+)|[^\w\s]|#|http\S+',' ',text)
    text = re.sub(r'\\u[A-Za-z0-9]\\+',' ',text)         #'\\u003c\\1'  error
    return text

In [ ]:
filtered_df['tweets'] = filtered_df['tweets'].apply(remove_non_arabic)
filtered_df.head()

<ipython-input-26-49eb88107966>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['tweets'] = filtered_df['tweets'].apply(remove_non_arabic)

,id,dialect,tweets
15497,1009754958479151232,LY,Ù‚Ù„ÙŠÙ„ÙŠÙ† Ø§Ø¯Ø¨ ÙˆÙ…Ù†Ø§ÙÙ‚ÙŠÙ† Ø§Ø®ØªÙ‡Ù… Ø§Ùˆ Ù‚Ø±ÙŠØ¨ØªÙ‡Ù… ØªØªØ¹Ø§Ùƒ...
15498,1009794751548313600,LY,Ø§Ù„Ù„ÙŠØ¨ÙŠÙŠÙ† Ù…ØªÙ‚Ù„Ø¨ÙŠÙ† Ø¨Ø§Ù„Ù†Ø³Ø¨Ø© Ù„ÙŠØ§ Ø§Ù†Ø§ Ù…ÙŠÙ„ÙŠØ´ÙŠØ§ÙˆÙŠ Ø²...
15499,1019989115490787200,LY,ØªØ§Ù†ÙŠÙ‡ Ø´Ø§Ø¨ Ù„ÙŠØ¨ÙŠ Ø¨ÙŠØ±ØªØ§Ø­ Ù„Ø¨Ù†Øª Ù…Ø®ØªÙ„ÙØ© ÙˆÙŠÙ„Ø§Ø­Ø¸...
15500,1035479791758135168,LY,Ø±Ø§Ù†ÙŠØ§ Ø¹Ù‚Ù„ÙŠØªÙƒ Ù…ØªØ®Ù„ÙØ© Ø§ÙˆÙ„Ø§ Ø§Ù„Ø§Ù†Ø³Ø§Ù† ÙŠÙ„ÙŠ ÙŠØ­ØªØ§Ø¬...
15501,1035481122921164800,LY,Ø´ÙƒÙ„Ùƒ Ù…ØªØ¹Ù‚Ø¯Ø© Ø¹Ù„Ø´Ø§Ù† Ø§Ù„Ø±Ø§Ø¬Ù„ ØªØ­Ø¨ÙŠÙ‡ Ø§Ø²ÙˆØ¬ Ø¨Ù†Øª ÙŠØªÙŠÙ…...

### *Remove Repeated Characters*

In [ ]:
def remove_repeating_characters(text):
    text = text.strip()
    text = re.sub("[Ø¥Ø£Ù±Ø¢Ø§]", "Ø§", text)
    text = re.sub("Ù‰", "ÙŠ", text)
    text = re.sub("Ø¤", "Ø¡", text)
    text = re.sub("Ø¦", "Ø¡", text)
    text = re.sub("Ø©", "Ù‡", text)
    text = re.sub(r'(.)\1+', r'\1', text)
    return text

In [ ]:
filtered_df['tweets'] = filtered_df['tweets'].apply(remove_repeating_characters)
filtered_df.head()

<ipython-input-28-6acc143c4d35>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['tweets'] = filtered_df['tweets'].apply(remove_repeating_characters)

,id,dialect,tweets
15497,1009754958479151232,LY,Ù‚Ù„ÙŠÙ„ÙŠÙ† Ø§Ø¯Ø¨ ÙˆÙ…Ù†Ø§ÙÙ‚ÙŠÙ† Ø§Ø®ØªÙ‡Ù… Ø§Ùˆ Ù‚Ø±ÙŠØ¨ØªÙ‡Ù… ØªØ¹Ø§ÙƒØ³ ØªÙ‚Ùˆ...
15498,1009794751548313600,LY,Ø§Ù„ÙŠØ¨ÙŠÙ† Ù…ØªÙ‚Ù„Ø¨ÙŠÙ† Ø¨Ø§Ù„Ù†Ø³Ø¨Ù‡ Ù„ÙŠØ§ Ø§Ù†Ø§ Ù…ÙŠÙ„ÙŠØ´ÙŠØ§ÙˆÙŠ Ø²Ù…Ø§Ù† ...
15499,1019989115490787200,LY,ØªØ§Ù†ÙŠÙ‡ Ø´Ø§Ø¨ Ù„ÙŠØ¨ÙŠ Ø¨ÙŠØ±ØªØ§Ø­ Ù„Ø¨Ù†Øª Ù…Ø®ØªÙ„ÙÙ‡ ÙˆÙŠÙ„Ø§Ø­Ø¸ Ø§Ù†Ù‡Ø§ ...
15500,1035479791758135168,LY,Ø±Ø§Ù†ÙŠØ§ Ø¹Ù‚Ù„ÙŠØªÙƒ Ù…ØªØ®Ù„ÙÙ‡ Ø§ÙˆÙ„Ø§ Ø§Ù„Ø§Ù†Ø³Ø§Ù† ÙŠÙ„ÙŠ ÙŠØ­ØªØ§Ø¬ Ø§Ù‡Ù„...
15501,1035481122921164800,LY,Ø´ÙƒÙ„Ùƒ Ù…ØªØ¹Ù‚Ø¯Ù‡ Ø¹Ù„Ø´Ø§Ù† Ø§Ù„Ø±Ø§Ø¬Ù„ ØªØ­Ø¨ÙŠÙ‡ Ø§Ø²ÙˆØ¬ Ø¨Ù†Øª ÙŠØªÙŠÙ…Ù‡ ...

### *Lemmatisation*

In [ ]:
nltk.download('all')

[nltk_data] Downloading collection 'all'
[nltk_data]    |
[nltk_data]    | Downloading package abc to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/abc.zip.
[nltk_data]    | Downloading package alpino to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/alpino.zip.
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data]    | Downloading package averaged_perceptron_tagger_ru to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping
[nltk_data]    |       taggers/averaged_perceptron_tagger_ru.zip.
[nltk_data]    | Downloading package basque_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping grammars/basque_grammars.zip.
[nltk_data]    | Downloading package bcp47 to /root/nltk_data...
[nltk_data]    | Downloading package biocreative_ppi to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/biocreative_ppi.zip.
[nltk_data]    | Downloading package bllip_wsj_no_aux to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping models/bllip_wsj_no_aux.zip.
[nltk_data]    | Downloading package book_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping grammars/book_grammars.zip.
[nltk_data]    | Downloading package brown to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/brown.zip.
[nltk_data]    | Downloading package brown_tei to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/brown_tei.zip.
[nltk_data]    | Downloading package cess_cat to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/cess_cat.zip.
[nltk_data]    | Downloading package cess_esp to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/cess_esp.zip.
[nltk_data]    | Downloading package chat80 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/chat80.zip.
[nltk_data]    | Downloading package city_database to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/city_database.zip.
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/cmudict.zip.
[nltk_data]    | Downloading package comparative_sentences to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/comparative_sentences.zip.
[nltk_data]    | Downloading package comtrans to /root/nltk_data...
[nltk_data]    | Downloading package conll2000 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/conll2000.zip.
[nltk_data]    | Downloading package conll2002 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/conll2002.zip.
[nltk_data]    | Downloading package conll2007 to /root/nltk_data...
[nltk_data]    | Downloading package crubadan to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/crubadan.zip.
[nltk_data]    | Downloading package dependency_treebank to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/dependency_treebank.zip.
[nltk_data]    | Downloading package dolch to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/dolch.zip.
[nltk_data]    | Downloading package europarl_raw to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/europarl_raw.zip.
[nltk_data]    | Downloading package extended_omw to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package floresta to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/floresta.zip.
[nltk_data]    | Downloading package framenet_v15 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/framenet_v15.zip.
[nltk_data]    | Downloading package framenet_v17 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/framenet_v17.zip.
[nltk_data]    | Downloading package gazetteers to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gazetteers.zip.
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/genesis.zip.
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gutenberg.zip.
[nltk_data]    | Downloading package ieer to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/ieer.zip.
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/inaugural.zip.
[nltk_data]    | Downloading package indian to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/indian.zip.
[nltk_data]    | Downloading package jeita to /root/nltk_data...
[nltk_data]    | Downloading package kimmo to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/kimmo.zip.
[nltk_data]    | Downloading package knbc to /root/nltk_data...
[nltk_data]    | Downloading package large_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping grammars/large_grammars.zip.
[nltk_data]    | Downloading package lin_thesaurus to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/lin_thesaurus.zip.
[nltk_data]    | Downloading package mac_morpho to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/mac_morpho.zip.
[nltk_data]    | Downloading package machado to /root/nltk_data...
[nltk_data]    | Downloading package masc_tagged to /root/nltk_data...
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping chunkers/maxent_ne_chunker.zip.
[nltk_data]    | Downloading package maxent_treebank_pos_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/maxent_treebank_pos_tagger.zip.
[nltk_data]    | Downloading package moses_sample to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping models/moses_sample.zip.
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/movie_reviews.zip.
[nltk_data]    | Downloading package mte_teip5 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/mte_teip5.zip.
[nltk_data]    | Downloading package mwa_ppdb to /root/nltk_data...
[nltk_data]    |   Unzipping misc/mwa_ppdb.zip.
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/names.zip.
[nltk_data]    | Downloading package nombank.1.0 to /root/nltk_data...
[nltk_data]    | Downloading package nonbreaking_prefixes to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/nonbreaking_prefixes.zip.
[nltk_data]    | Downloading package nps_chat to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/nps_chat.zip.
[nltk_data]    | Downloading package omw to /root/nltk_data...
[nltk_data]    | Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]    | Downloading package opinion_lexicon to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/opinion_lexicon.zip.
[nltk_data]    | Downloading package panlex_swadesh to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package paradigms to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/paradigms.zip.
[nltk_data]    | Downloading package pe08 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/pe08.zip.
[nltk_data]    | Downloading package perluniprops to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping misc/perluniprops.zip.
[nltk_data]    | Downloading package pil to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/pil.zip.
[nltk_data]    | Downloading package pl196x to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/pl196x.zip.
[nltk_data]    | Downloading package porter_test to /root/nltk_data...
[nltk_data]    |   Unzipping stemmers/porter_test.zip.
[nltk_data]    | Downloading package ppattach to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/ppattach.zip.
[nltk_data]    | Downloading package problem_reports to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/problem_reports.zip.
[nltk_data]    | Downloading package product_reviews_1 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/product_reviews_1.zip.
[nltk_data]    | Downloading package product_reviews_2 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/product_reviews_2.zip.
[nltk_data]    | Downloading package propbank to /root/nltk_data...
[nltk_data]    | Downloading package pros_cons to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/pros_cons.zip.
[nltk_data]    | Downloading package ptb to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/ptb.zip.
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Unzipping tokenizers/punkt.zip.
[nltk_data]    | Downloading package qc to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/qc.zip.
[nltk_data]    | Downloading package reuters to /root/nltk_data...
[nltk_data]    | Downloading package rslp to /root/nltk_data...
[nltk_data]    |   Unzipping stemmers/rslp.zip.
[nltk_data]    | Downloading package rte to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/rte.zip.
[nltk_data]    | Downloading package sample_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping grammars/sample_grammars.zip.
[nltk_data]    | Downloading package semcor to /root/nltk_data...
[nltk_data]    | Downloading package senseval to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/senseval.zip.
[nltk_data]    | Downloading package sentence_polarity to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/sentence_polarity.zip.
[nltk_data]    | Downloading package sentiwordnet to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/sentiwordnet.zip.
[nltk_data]    | Downloading package shakespeare to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/shakespeare.zip.
[nltk_data]    | Downloading package sinica_treebank to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/sinica_treebank.zip.
[nltk_data]    | Downloading package smultron to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/smultron.zip.
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package spanish_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping grammars/spanish_grammars.zip.
[nltk_data]    | Downloading package state_union to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/state_union.zip.
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package subjectivity to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/subjectivity.zip.
[nltk_data]    | Downloading package swadesh to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/swadesh.zip.
[nltk_data]    | Downloading package switchboard to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/switchboard.zip.
[nltk_data]    | Downloading package tagsets to /root/nltk_data...
[nltk_data]    |   Unzipping help/tagsets.zip.
[nltk_data]    | Downloading package timit to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/timit.zip.
[nltk_data]    | Downloading package toolbox to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/toolbox.zip.
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/treebank.zip.
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/twitter_samples.zip.
[nltk_data]    | Downloading package udhr to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/udhr.zip.
[nltk_data]    | Downloading package udhr2 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/udhr2.zip.
[nltk_data]    | Downloading package unicode_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/unicode_samples.zip.
[nltk_data]    | Downloading package universal_tagset to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/universal_tagset.zip.
[nltk_data]    | Downloading package universal_treebanks_v20 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package vader_lexicon to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package verbnet to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/verbnet.zip.
[nltk_data]    | Downloading package verbnet3 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/verbnet3.zip.
[nltk_data]    | Downloading package webtext to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/webtext.zip.
[nltk_data]    | Downloading package wmt15_eval to /root/nltk_data...
[nltk_data]    |   Unzipping models/wmt15_eval.zip.
[nltk_data]    | Downloading package word2vec_sample to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping models/word2vec_sample.zip.
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    | Downloading package wordnet2021 to /root/nltk_data...
[nltk_data]    | Downloading package wordnet2022 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet2022.zip.
[nltk_data]    | Downloading package wordnet31 to /root/nltk_data...
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet_ic.zip.
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/words.zip.
[nltk_data]    | Downloading package ycoe to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/ycoe.zip.
[nltk_data]    |
[nltk_data]  Done downloading collection all

True

In [ ]:
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
filtered_df['tweets'] = filtered_df['tweets'].apply(lambda x: ' '.join([lemmatizer.lemmatize(word, pos=wordnet.VERB) for word in x.split()]))

<ipython-input-30-60bfeca4a2d5>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['tweets'] = filtered_df['tweets'].apply(lambda x: ' '.join([lemmatizer.lemmatize(word, pos=wordnet.VERB) for word in x.split()]))

### *Encoding the Target Classes*

In [ ]:
#Encoding output labels
encoding = preprocessing.LabelEncoder()

#using fit transform on the data
y = encoding.fit_transform(filtered_df.dialect.values)

#replace dialec column with the encoded
filtered_df['dialect'] = y

<ipython-input-31-5982a290d3ef>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['dialect'] = y

In [ ]:
encoding
label_map = {label: code for label, code in zip(encoding.classes_, encoding.transform(encoding.classes_))}
label_map

NameError: ignored

### *Saving PreprocessedData*

In [ ]:
#save after preprocessing the tweets
filtered_df.to_csv('preprocessed_tweets.csv')  
     

#copy the csv file to google drive
!cp preprocessed_tweets.csv /content/drive/MyDrive/